# Ignorar os diretórios
/auto-save-list/
/eln-cache/
/elpa/
/emacs-backup/
.cache/
transient/
workspace/
eclipse.jdt.ls/ 
intelephense/
lsp-cache/


# Igonora os arquivos
history
places
recentf
custom.el
projects
projectile-bookmarks.eld
.lsp-session-v1
*.~undo-tree~